# Core Framework
# UI and Cloud Hosting
streamlit

# Core AI Framework
langchain>=0.3.0
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters

# PDF Processing
# unstructured[pdf]
pdfplumber
pypdf

# Vector Database
chromadb

# Supporting AI Models (CPU efficient)
sentence-transformers

# Optional/Voice (Remove if not using in app.py to save space)
elevenlabs

# Vector Database & Text Handling
langchain-text_splitters

# Embeddings (FastEmbed is faster/lighter for CPU)
fastembed
